<div class="section activity-section">
    <h4>User Feed</h4></h4>
    <% @friendActivities.each do |activity| %>
        <div class="col-md-8 col-md-offset-2">
            <div class="activity row ">
                <%= render partial: 'shared/activity', locals: {activity: activity} %>
            </div>
        </div>
    <% end %>   
</div>


