
<div class="col-xs-10 col-xs-offset-1">
    <div class="row user-row">
         <div class="user-details">
            <p class="text-center username">@<%= @user.username %> </p>
            <p class="text-center" >Read <%= @user.books.count %> books </p> 
        </div>  
    </div>  
    <div class="row user-books">
        <div class="row books-row">
            <h3 class="page-header">Read Books</h3>

            <div class="row">
                <%= render partial: 'shared/book_list', locals: {books: @readBooks} %>
            </div>
        </div>
        
        
        <div class="row books-row">
            <h3 class="page-header">Queued Books</h3>

            <div class="row">
                <%= render partial: 'shared/book_list', locals: {books: @queuedBooks} %>
            </div>
        </div>
    </div>    
</div>

