<div class="col-md-3 col-sm-6">
    <a href="/books/<%=book.id%>" data-toggle="modal">
        <div class="book-hover">
            <div class="book-hover-content">
                <p>View Book</p>
            </div>
        </div>
        <%= image_tag  book.image_url, class: "book" %>  
    </a>
</div>