
<div class="row user-row">
     <div class="user-details">
        <h4><a class="text-center" href="/users/<%=user.id%>"><p>@<%= user.username %></p></a></h4>
        <p class="text-center" >Read <%= user.books.count %> books </p> 
        <button class="btn btn-primary center-block">Follow</button>
    </div>  
</div>