<div class="jumbotron">
  <h1>Book-Keeper</h1>
  <p>Book Keeper allows you to track the books that you and your friends have read.  By using the Google Books API, it allows you to easily search and add books.  Never forget the books you've read again!</p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
</div>

<h3 class="page-header">Recently Read Books</h3>

<%= render 'shared/book_list' %>