<div class="book-show-section section">
    <div class="row book-detail-row">
        <%= render partial: 'shared/book_details', locals: {book: @book} %>
    </div>
    <hr>
    
    <div id="reviews-section">
        <% if @reviews.blank? %>
            <p>Be the first to review this book.</p>
        <% else %>
            <% @reviews.each do  |review| %>
                <%= render partial: 'review', locals: {review: review } %>
            <% end %>  
        <% end %>
    </div>
    
</div>
    
<script>
    $(document).ready(function() {
        $(".star-rating").raty({
            path: '/assets/',
            readOnly: true,
            score: function(){
                return $(this).attr('data-score');
            }
        });
    })
</script>




