<h3 class="page-header">About</h3>
<p>Book Keeper allows you to track the books that you and your friends have read. By using the Google Books API, it allows you to easily search and add books. Never forget the books you've read again!</p>

<p>This project was influeced by the <a href="https://www.youtube.com/watch?v=AMai9EZesXY">Ruby on Rails Tutorial | Build a Book Review App</a> from <a href="https://twitter.com/RyanHemrick">Ryan Hemrick</a></p>