
<%= simple_form_for([@book, @review]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="field">
      <div class="star-rating">
      </div>
    </div>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>  

<script>
  $('.star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>

